/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #292929;
    color: #FF8623;
    font-variant: small-caps;
    font-size: 20px;
}

/*h1 {
    color: #FF8623;
}*/

select {
    font-variant: small-caps;
    color: #FF8623;
    background-color: #494949;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*table, th, td {
   border: 1px solid black;
}*/

/*tr:nth-child(odd) {
    background-color: lightgray;
}*/

.mymenu {
    background-image: url("header2.jpg");
    background-position: center 75%;
}

.mymenu2 {
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    height: 150px;
    background-position: center 75%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
